*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
}
p {
    color: blue;
}
div { 
    background: #226fc1;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}
.caja1 {
    border: 7px solid #000;
}
footer{
    background: #000;
}
footer {
    text-align: center;
    padding: 15px 0px;
    color: #fff;
}
